*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.header-nav{
    /* background: url(./assets/hero-bg.png) , white; */
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-color: rgb(188, 41, 41); */
    padding: 50px;
    margin: 0;
    padding: 0;
    /* height: 600; */
}
nav{
    width: 93%;
    max-width: 1600px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color:rgb(255, 255, 255);
    padding: 20px 20px;
    margin: 0;
    /* padding: 0; */
}
.navT{
    display: flex;
    gap: 20px;
    color: white;
}
.navT li{
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.btn{
    display: flex;
    gap: 8px;
    color: white;
    border: none;
    background-color: rgba(24, 141, 65, 0.89);
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}
.btn-2{
    color: white;
    border-color: white;
    background: none;
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}
.btn-arrow{
    text-align: center;
}
.btn:hover{
    cursor: pointer;
    background-color: rgba(11, 188, 73, 0.89);
}
.btn-2:hover{
    cursor: pointer;
    border: none;
    background-color: rgba(11, 188, 73, 0.89);
}

.hero-section{
    background: url(./assets/hero-bg.png) , white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    max-width: 100%;
    height: 650px;
    max-height: 650px;
    /* border: 1px solid red; */
}
.sec-detail{
    /* border: 1px solid red; */
    padding: 100px 120px;
    text-align: center;
    /* margin: 120px; */
}
.sec-detail .hero-p{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 8px 14px;
    width: 229px;
    margin: 30px auto 0;
    font-size: 16px;
    font-weight: 500;
    color: rgba(24, 141, 65, 0.89);
}
.sec-detail h1{
    font-size: 65px;
    color: white;
    text-transform: capitalize;
    margin: 20px auto;
}
.sec-detail h1 span{
    color: rgba(35, 173, 83, 0.89);
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sec-detail p{
    color: white;
    /* width: 600px; */
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}
/* Main Container  */
.sec-part1{
    margin: 10px auto;
    text-align: center;
}
.card-des h1{
    margin: 30px auto 0px ;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 600px;
    text-align: center;
}
.card-des p{
    text-align: center;
    color: rgb(78, 76, 76);
    padding: 20px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    align-items: center;
    padding: 20px 120px;
}
.card{
    box-shadow: 2px 0px 100px rgb(233, 231, 231);
    padding: 60px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 310px;
    width: 300;
}
.card img{
    background-color: rgba(246, 31, 12, 0.814);
    border-radius: 50%;
    padding: 10px;
    size: 5%;
}
.card h4{
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}
.card p{
    color: rgb(78, 76, 76);
    padding-top: 20px;
    font-weight: 16px;
    text-align: center;
}