*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Header Container  */
.header-nav{
    background-color:rgba(231, 231, 231, 0.893);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 50px;
    margin: 0;
    padding: 0;
}
nav{
    width: 93%;
    max-width: 1600px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:rgba(231, 231, 231, 0.893);
    padding: 20px 150px;
    margin: 0 auto;
}
.nav-img{
    cursor: pointer;
}
.nav-img:hover{
    background-color: azure;
}
.navT{
    display: flex;
    gap: 20px;
    color: white;
}

.navT li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.navT li a:hover{
    color :rgba(24, 141, 65, 0.89);
}
.btn{
    display: flex;
    gap: 8px;
    color: white;
    border: none;
    background-color: rgba(24, 141, 65, 0.89);
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}
.btn-2{
    color: white;
    border-color: white;
    background: none;
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}
.btn-arrow{
    text-align: center;
    margin-top: 0;
}
.btn:hover{
    cursor: pointer;
    background-color: rgba(11, 188, 73, 0.89);
}
.btn-2:hover{
    cursor: pointer;
    background-color: rgba(11, 188, 73, 0.89);
    border: none;
}

.hero-section{
    background: url(./assets/hero-bg.png) , white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    max-width: 100%;
    height: 650px;
    max-height: 650px;
}
.sec-detail{
    padding: 100px 120px;
    text-align: center;
}
.sec-detail .hero-p{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 8px 14px;
    width: 229px;
    margin: 30px auto 0;
    font-size: 16px;
    font-weight: 500;
    color: rgba(24, 141, 65, 0.89);
}
.sec-detail h1{
    font-size: 65px;
    color: white;
    text-transform: capitalize;
    margin: 20px auto;
}
.sec-detail h1 span{
    color: rgba(35, 173, 83, 0.89);
    font-size: 70px;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sec-detail p{
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}
/* Main Container  */
.sec-part1{
    margin: 10px auto;
    text-align: center;
}
.card-des h1{
    margin: 30px auto 0px ;
    padding-top: 20px;
    font-size: 40px;
    font-weight: 600px;
    text-align: center;
    text-transform: capitalize;
}
.card-des p{
    text-align: center;
    color: rgb(78, 76, 76);
    padding: 20px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    gap: 25px;
    align-items: center;
    padding: 20px 120px;
}
.card{
    box-shadow: 2px 0px 100px rgb(233, 231, 231);
    padding: 60px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 310px;
    width: 300;
}
.card img{
    background-color: rgba(246, 31, 12, 0.814);
    border-radius: 50%;
    padding: 10px;
    size: 5%;
}
.card h4{
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}
.card p{
    color: rgb(78, 76, 76);
    padding-top: 20px;
    font-weight: 16px;
    text-align: center;
}

.sec-part2{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
    margin: 20px auto;
    width: 93%;
    max-width: 93%;
    height: 40%;
}
.sec-img img{
    margin: 20px 100px;
    padding: 10px 50px;
    height: 450px;
    width: 500px;
}
.sec-details{
    width: 50%;
    margin: 0 auto;
    padding: 0 ;
}
.p-h{
    margin-top: 0;
    text-transform:uppercase;
    text-align:start;
    color: rgba(30, 170, 23, 0.89);
    font-weight: 700;
    font-size: 13px;
    text-align: start;
}
.sec-details h1{
    padding: 15px 0px;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.p-det{
    color: rgba(94, 89, 89, 0.893);
    padding: 20px 0;
    font-weight: 16px;
    line-height: 20px;
    width: 75%;
}
.sec-details ul li{
    padding: 10px 0px;
    font-weight: 750;
    display: flex;
    gap: 10px;
    align-items: center;
}
.sec-part3{
    text-align: center;
    margin: 80px auto;
}
.ready-sec{
    margin: 10% 15%;
    padding: 5% 10%;
    border-radius: 5px;
    background-color: rgba(243, 232, 219, 0.417);
}
.ready-sec h1{
    margin: 10px auto;
    text-transform: capitalize;
    font-weight: 700px;
    font-size: 40px;
}
.ready-sec .p{
    text-align: center;
    font-size: 18px;
    width: 65%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
    margin: 0 0 0 35%;
}

/* Footer Container  */
footer{
    margin-top: 130px;
    background-color: rgba(1, 1, 38, 0.913);
    padding: 130px 0 20px;
}
.footer-container{
    text-align: center;
    padding: 0 100px;
}
.footer-p-1{
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
    margin: 0 auto;
    padding-bottom: 100px;
}
.footer-p-1 h4{
    color: white;
    font-size: 20px;
}
.footer-p-1 ul{
    display: flex;
    justify-content: left;
    gap: 15px;
    padding: 20px;
    text-align: left;
}
.footer-p-1 ul li{
    color: black;
    background-color: white;
    border-radius: 50%;
    padding: 2px 3px;
}
.footer-p-1 ul li a{
    text-decoration: none;
    color: black;
}
footer hr{
    color: rgba(2, 12, 70, 0.881);
    opacity: 10%;
}
.footer-container p{
    padding-top: 20px;
    color: rgba(208, 216, 253, 0.845);
    font-size: 16px;
}